include include README.md LICENSE
include recursive-include tests *.py
include jmeter_api\assertions\duration\template.xml
include jmeter_api\assertions\json\template.xml
include jmeter_api\assertions\jsr223\template.xml
include jmeter_api\assertions\response\template.xml
include jmeter_api\assertions\size\template.xml
include jmeter_api\basics\listener\result_collector_template.xml
include jmeter_api\configs\counter\template.xml
include jmeter_api\configs\csv_data_set_config\template.xml
include jmeter_api\configs\http_auth_manager\auth.xml
include jmeter_api\configs\http_auth_manager\template.xml
include jmeter_api\configs\http_cache_manager\template.xml
include jmeter_api\configs\http_cookie_manager\cookie.xml
include jmeter_api\configs\http_cookie_manager\template.xml
include jmeter_api\configs\http_header_manager\header.xml
include jmeter_api\configs\http_header_manager\template.xml
include jmeter_api\configs\http_request_defaults\argument.xml
include jmeter_api\configs\http_request_defaults\postbody.xml
include jmeter_api\configs\http_request_defaults\template.xml
include jmeter_api\configs\random_csv_data_set_config\template.xml
include jmeter_api\configs\random_variable\template.xml
include jmeter_api\configs\user_defined_variables\argument.xml
include jmeter_api\configs\user_defined_variables\template.xml
include jmeter_api\controllers\if_controller\if_controller_template.xml
include jmeter_api\controllers\include_controller\include_controller_template.xml
include jmeter_api\controllers\interleave_controller\interleave_controller_template.xml
include jmeter_api\controllers\loop_controller\loop_controller_template.xml
include jmeter_api\controllers\module_controller\module_controller_template.xml
include jmeter_api\controllers\once_only_controller\once_only_controller_template.xml
include jmeter_api\controllers\random_controller\random_controller_template.xml
include jmeter_api\controllers\simple_controller\simple_controller_template.xml
include jmeter_api\controllers\switch_controller\switch_controller_template.xml
include jmeter_api\controllers\throughput_controller\throughput_controller_template.xml
include jmeter_api\controllers\transaction_controller\transaction_controller_template.xml
include jmeter_api\controllers\while_controller\while_controller_template.xml
include jmeter_api\listeners\backend\template.xml
include jmeter_api\non_test_elements\test_plan\template.xml
include jmeter_api\post_processors\debug\template.xml
include jmeter_api\post_processors\json_extractor\template.xml
include jmeter_api\post_processors\jsr223\template.xml
include jmeter_api\post_processors\re_extractor\template.xml
include jmeter_api\pre_processors\jsr223\template.xml
include jmeter_api\samplers\beanshell\template.xml
include jmeter_api\samplers\debug\template.xml
include jmeter_api\samplers\flow_control\template.xml
include jmeter_api\samplers\http_request\template.xml
include jmeter_api\samplers\jdbc_request\template.xml
include jmeter_api\samplers\jsr223\template.xml
include jmeter_api\test_fragment\test_fragment_template.xml
include jmeter_api\thread_groups\arrivals_thread_group\template.xml
include jmeter_api\thread_groups\common_thread_group\template.xml
include jmeter_api\thread_groups\concurrency_thread_group\template.xml
include jmeter_api\thread_groups\free_form_arrivals_thread_group\template.xml
include jmeter_api\thread_groups\setup_thread_group\template.xml
include jmeter_api\thread_groups\stepping_thread_group\template.xml
include jmeter_api\thread_groups\teardown_thread_group\template.xml
include jmeter_api\thread_groups\ultimate_thread_group\template.xml
include jmeter_api\timers\constant_throughput_timer\template.xml
include jmeter_api\timers\constant_timer\template.xml
include jmeter_api\timers\uniform_random_timer\template.xml
